NEXT_PUBLIC_SUPABASE_URL=https://lietpzxydupsxmlncrpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpZXRwenh5ZHVwc3htbG5jcnBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMjQxMDQsImV4cCI6MjA4NzgwMDEwNH0.mGi1oNQl00YpwtNqA7YTRRoZlhJEkQ0qjuUdCYGAbDI
